html { background: transparent !important; }

#main-window {
  background: transparent !important;
  -moz-appearance: transparent !important;
}

#tabbrowser-tabpanels { background: transparent !important; }
