* {
  font-size: 18px;
  box-shadow: none;
  text-shadow: none;
  transition: none;
}

window#waybar {
  background: #000000;
  border-radius: 16px 16px 0 0;
}

.modules-left,
.modules-right,
.modules-center {
  padding: 0 24px;
  margin: 6px 0;
  border-radius: 18px;
}

.modules-left { margin-left: 24px; }
.modules-right { margin-right: 24px; }

#workspaces button {
  padding: 0 4px;
  border: none;
  background: none;
}

#workspaces button.active { font-weight: 900; }

#clock.date,
#clock.time { font-weight: bold; }
