* {
  font-size: 18px;
  box-shadow: none;
  text-shadow: none;
  transition: none;
}

window#waybar {
  /* Visual artifacts when alpha is 1. Especially when in "overview" (Win+Tab). */
  /* background: rgba(0, 0, 0, 0.9999); */
  background: #000000;
}

.modules-left { margin-left: 1em; }
.modules-right { margin-right: 1em; }

#custom-separator { color: rgba(216, 225, 229, 0.1); }

#audio, #network, #battery, #processor, #memory {
  color: #d8e1e5;
  padding: 0 1em;
  margin: 0.4em 0;
  background: rgba(216, 225, 229, 0.08);
  border: 1px solid rgba(216, 225, 229, 0.06);
  border-radius: 1em;
}

#mpd, #temperature { color: rgba(216, 225, 229, 0.5); }

#clock, #window label {
  color: #d8e1e5;
  font-weight: bold;
}

#workspaces button {
  padding: 0;
  margin: 3px 0 0 0;
  border: none;
  min-height: 0;
  background: none;
}

#workspaces button label {
  font-size: 0.85em;
  color: rgba(216, 225, 229, 0.8);
  opacity: 0.5;
}
